/forms-1.3.0.jar
/forms-1.3.0-src.zip
/miglayout15-swing.jar
/miglayout-src.zip
/minecraft.src.zip
/META-INF
/minecraft.src
/toms-mclauncher.log
/toms-mclauncher.log.1
/toms-mclauncher.log.2
/savetest
/savetest-json
/README.md
/testmc/*
/testmc
/dest
/dist
/lib
/experiments
/build.xml
/testlaunch_api.sh
/testlaunch.sh
/tools/servicefinder/*_src
/tools/servicefinder/*_disasm
/tools/servicefinder/*.jar
/tools/servicefinder/versions.json
